@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border-style: none;
  list-style: none; }

body {
  background-image: url(../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

@font-face {
  font-family: 'Wire-AndPlanks';
  src: url(/assets/fonts/Wire-AndPlanks.ttf); }

.logo {
  display: flex;
  justify-content: center;
  height: 200px; }

.separador {
  display: flex;
  justify-content: center;
  padding-top: 80px; }

.separador__largo {
  background-image: url(/assets/images/separador.png);
  background-position: center;
  background-repeat: no-repeat; }

.separadormain {
  background-image: url(/assets/images/logoseparador.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125px;
  padding: 90px; }

.container, .box__1 .article__margen1, .box__1 .article__margen2, .box__1 .article__margen3, .box__1 .article__margen4 {
  position: relative;
  margin: 20px 50px;
  width: 430px;
  height: 510px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat; }

/* <-----navbar----> */
.header {
  background-color: black;
  padding: 4px;
  font-family: 'Lato', sans-serif; }

.nav-item a {
  color: #a7a3a3 !important;
  font-size: 1.3rem;
  padding: 15px !important;
  text-transform: uppercase; }
  .nav-item a:hover {
    color: rgba(223, 36, 80, 0.932) !important; }

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out; }

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0; }

.navbar-toggler span {
  margin: 0;
  padding: 0; }

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.middle-bar {
  margin-top: 0px; }

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg); }

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: aplha(opacity=0); }

.navbar-toggler .botton-bar {
  margin-top: 0px;
  transform: rotate(-135deg); }

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100); }

.navbar-toggler.collapsed .botton-bar {
  margin-top: 20px;
  transform: rotate(0deg); }

/* <-----navbar------> */
/* <-------red social footer------> */
.separador__footer {
  display: flex;
  justify-content: center;
  padding-top: 10px; }

.text__follow {
  text-align: center;
  color: white;
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: 'Public Sans', sans-serif; }

.red__social {
  display: flex;
  justify-content: center;
  padding-top: 10px; }

.red__social a {
  margin: 10px; }

.social-facebook {
  height: 36px;
  width: 36px;
  background-image: url(../assets/socials-icons/facebook-logo-36.png);
  background-repeat: no-repeat;
  border-radius: 10px; }

.social-twitter {
  height: 36px;
  width: 36px;
  background-image: url(../assets/socials-icons/twitter-logo-36.png);
  background-repeat: no-repeat;
  border-radius: 10px; }

.social-instagram {
  height: 36px;
  width: 36px;
  background-image: url(../assets/socials-icons/instagram-logo-36.png);
  background-repeat: no-repeat;
  border-radius: 10px; }

.social-youtube {
  height: 36px;
  width: 36px;
  background-image: url(../assets/socials-icons/youtube-logo-36.png);
  background-repeat: no-repeat;
  border-radius: 10px; }

.social-spotify {
  height: 36px;
  width: 36px;
  background-image: url(../assets/socials-icons/spotify-logo-36.png);
  background-repeat: no-repeat;
  border-radius: 10px; }

footer {
  background-color: black; }

.copy {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

/* <-------red social footer ------> */
/* <-----google fonts----> */
/* <-----google fonts----> */
/* <-----main content index-----> */
.title__banda {
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Amaranth', sans-serif; }

.title__banda h1 {
  font-size: 4rem;
  margin: 0;
  font-family: 'Wire-AndPlanks'; }

.title__banda h2 {
  font-size: 4rem;
  margin-right: 16px;
  font-family: 'Wire-AndPlanks'; }

.title-mid {
  font-size: 15px;
  color: white;
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  padding-top: 80px;
  border-bottom: #df2450db solid 2px;
  width: 370px;
  margin: auto; }

.box__1 {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px; }
  .box__1 .article__margen1 {
    background-image: url(../assets/images/Foto6.jpg); }
  .box__1 .article__margen2 {
    background-image: url(../assets/images/Foto3.jpg); }
  .box__1 .article__margen3 {
    background-image: url(../assets/images/Foto5.jpg); }
  .box__1 .article__margen4 {
    background-image: url(../assets/images/Foto2.jpg); }

.color {
  width: 430px;
  height: 510px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px; }
  .color a {
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    top: 87%;
    left: 25px;
    color: white;
    transform: scale(1.04);
    transition: color 0.4s ease-in-out 0s; }
    .color a:hover {
      color: rgba(223, 36, 80, 0.932); }

.sub {
  text-align: center; }
  .sub span {
    color: white;
    font-size: 1.2rem; }
  .sub input {
    width: 100%;
    margin: 5px;
    padding: 6px;
    background-color: rgba(223, 36, 81, 0.3);
    color: white;
    transform: translate(99); }
  .sub input::placeholder {
    color: white; }

/* <------main content index-----> */
/* <-------Content Gira ---------> */
.linebar-gira {
  display: flex;
  justify-content: center;
  padding-top: 30px; }

.title-mid {
  font-size: 40px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding-top: 80px; }

.title-gira {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 40px; }

.logo-gira {
  display: flex;
  justify-content: center;
  height: 180px;
  padding-top: 30px; }

/* <-------bars-------> */
.bars {
  width: 900px;
  height: 400px;
  margin: auto;
  border-top: white 1px solid;
  overflow-y: scroll; }

.bars::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  border: 1px solid #2b2b2b;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: rgba(177, 177, 177, 0.103);
  border-radius: 10px; }

.bars div {
  border-bottom: rgba(252, 248, 248, 0.514) 1px solid;
  padding: 20px;
  color: white;
  transition: background-color 0.4s ease-in-out 0s; }

.bars div:hover {
  background-color: rgba(223, 36, 81, 0.3); }

/* <-------bars-------> */
.bars span {
  font-size: 24px; }

/* <-------buttons-------> */
.buttons {
  width: 900px;
  margin: auto;
  padding-bottom: 10px; }

.buttons button {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(223, 36, 81, 0.3);
  color: white;
  font-size: 15px;
  font-weight: 500 !important;
  margin-left: 4px; }

.bars button {
  margin-left: 130px;
  padding: 10px 50px;
  color: #ebe7e7;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  border: white 1px solid;
  font-family: 'Roboto Slab', serif; }
  .bars button:hover {
    background-color: white;
    color: black; }

.lugar {
  margin-left: 200px;
  text-align: center;
  font-family: 'Noto Serif Gujarati', serif; }

.fecha {
  font-family: 'Noto Serif Gujarati', serif; }

/* <-------buttons-------> */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  max-width: 55rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  grid-auto-flow: dense; }

.wide {
  grid-column: span 2; }

.tall {
  grid-row: span 2; }

.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out; }

.grid_item:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.buttons a {
  position: relative;
  left: 500px;
  top: 10px;
  font-size: 26px;
  color: white;
  margin: 2px; }

.bi {
  transition: color 0.3s ease-in-out 0s; }

.bi-spotify:hover {
  color: #1ed760; }

.bi-instagram:hover {
  color: #8134af; }

.bi-twitter:hover {
  color: #00ACEE; }

/* <-------Content Gira ---------> */
/* <-----Musica/Videos-----> */
.text {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .text .text_album {
    width: 600px;
    color: white; }
  .text h1 {
    font-size: 37px;
    padding-bottom: 20px; }
  .text h2 {
    font-size: 30px; }
  .text p {
    font-size: 20px;
    margin-bottom: 15px; }

.image__album {
  padding-left: 5%; }

.imagen__album {
  border-radius: 5px; }

.iframe_videos {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap; }

.video1 {
  padding-right: 40px; }

.video2 {
  padding-left: 30px; }

.title__videos {
  text-align: center;
  color: white; }

/* <-----Musica/Videos-----> */
/* <-----Banda-----> */
.miembros {
  max-width: 55rem;
  padding: 2rem 1.5rem;
  margin: 0 auto; }

.miembros h1 {
  font-weight: 900 !important;
  font-size: 2.7rem !important;
  max-width: 20ch;
  color: white; }

.miembros p {
  max-width: 60ch; }

.miembros a {
  color: white; }

/*Grid*/
.ul__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size, 14rem), 1fr));
  grid-gap: 10px;
  padding: 0;
  place-content: center; }

.banda {
  margin-top: var(--flow-space, 1em); }

.miembros {
  --flow-space: 2em; }

.fernando {
  grid-column: 2; }

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: white;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden; }

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.profile::before {
  background: linear-gradient(to top, #000000c9 0%, #000000c9 7.8%, #000000c7 14.4%, #000000c3 20.2%, #000000be 25.3%, #000000b7 29.9%, #000000ae 34.3%, #000000a3 38.7%, #00000097 43.3%, #00000088 48.4%, #00000077 54.1%, #00000064 60.6%, #0000004f 68.3%, #00000037 77.3%, #0000001d 87.7%, #00000000 100%);
  transition: 300ms opacity linear; }

.profile::after {
  background: linear-gradient(45deg, rgba(223, 36, 80, 0.116) 0, rgba(223, 36, 80, 0.137) 100%);
  opacity: 0;
  transition: 300ms opacity linear; }

.profile > * {
  z-index: 1; }

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear; }

.profile h2,
.profile p {
  transform: translateY(2ex); }

.profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease; }

.profile p {
  font-size: 1.2rem;
  font-weight: 500; }

.profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out; }

.profile:focus {
  outline: 0.5rem solid #df24514d;
  outline-offset: -0,5rem; }

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none; }

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7; }

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms; }

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg); }

/* <-----Banda-----> */
/* <------Contacto------> */
form {
  width: 585px;
  margin: auto;
  padding: 10px 20px; }
  form h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 25px;
    padding-bottom: 25px; }
  form p {
    padding-bottom: 5px;
    font-size: 20px;
    color: white;
    font-weight: 500%; }
  form .checkbox_news {
    display: inline-flex; }
  form .checkbox_news small {
    padding-left: 10px;
    font-size: 15px;
    color: white; }

.form__1 input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-shadow: black 0 2 15 1; }

textarea {
  resize: none;
  background-color: rgba(223, 36, 81, 0.3);
  width: 100%;
  height: 200px;
  color: white; }

.form__1 input {
  background-color: rgba(223, 36, 81, 0.3);
  color: white;
  padding: 15px; }

/* <------Contacto------> */
@media screen and (max-width: 768px) {
  /* musica/videos */
  .separadorcon__logo {
    display: none; }
  .text_album {
    width: 600px;
    height: auto;
    text-align: center;
    padding-top: 40px; }
  .text_album p {
    margin-left: 10px;
    margin-right: 10px; }
  .tittle__videos {
    margin-top: 10px;
    font-size: 2rem; }
  .iframe_videos {
    padding: 15px; }
  .video1 {
    padding: 0;
    margin: 10px; }
  .video2 {
    padding: 0;
    margin: 10px; }
  .image__album {
    padding: 0px; }
  .separador__largo {
    display: none; }
  /* musica/videos */
  /* Gira */
  .bars {
    width: 700px;
    height: 400px; }
  .fecha {
    display: flex; }
  .lugar {
    margin-left: 0px; }
  .buttons {
    padding-top: 40px;
    width: auto;
    display: flex;
    justify-content: center; }
  .wide {
    grid-column: span 2; }
  .tall {
    grid-row: span 2; }
  .foto3 {
    grid-column: span 2;
    grid-row: auto; }
  .foto6 {
    grid-row: auto;
    grid-column: span 2; }
  .grid-container {
    gap: 0;
    row-gap: 10px;
    padding: 15px; }
  .color a {
    left: 15px; }
  .bi {
    display: none; }
  /* Gira */ }

@media screen and (max-width: 700px) {
  body {
    background-image: url(../assets/images/Backgroundmobile.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  /* navabar */
  .header {
    padding: 10px;
    width: 100%; }
  .nav__list {
    display: flex;
    flex-direction: column; }
  .nav__list li {
    padding: 15px; }
  .nav__list .list__links {
    padding: 0; }
  /* navbar */
  /* main */
  .logo {
    height: 150px; }
  .title__banda h1 {
    font-size: 2.8rem; }
  .title__banda h2 {
    font-size: 2.8rem;
    padding-left: 20px; }
  .title-mid {
    width: 230px; }
  .article__margen1 {
    margin-bottom: 20px;
    width: 300px;
    height: 510px; }
  .article__margen2 {
    width: 300px;
    height: 510px; }
  .article__margen3 {
    margin-bottom: 20px;
    width: 300px;
    height: 510px; }
  .article__margen4 {
    width: 300px;
    height: 510px; }
  .color {
    width: 325px;
    height: 510px; }
  .color a {
    left: 15px; }
  .separadorcon__logo {
    display: none; }
  .title-gira {
    padding-top: 0.5rem;
    margin: 0; }
  .sub {
    width: 320px; }
  .sub span {
    margin: 0px; }
  /* Main */
  /* Gira */
  .bars {
    width: 300px;
    height: 400px; }
  .fecha {
    font-size: 30px; }
  .lugar {
    margin: 0px;
    font-size: 20px; }
  .buttons {
    padding-top: 40px;
    width: auto;
    display: flex;
    justify-content: center; }
  .wide {
    grid-column: span 2; }
  .foto3 {
    grid-column: span 2;
    grid-row: auto; }
  .foto6 {
    grid-row: auto; }
  .grid-container {
    gap: 0;
    row-gap: 10px;
    padding: 15px; }
  .bars button {
    margin-left: 45px;
    margin-top: 10px;
    padding: 20px, 50px; }
  .bi {
    display: none; }
  /* Gira */
  /* Musica/Videos */
  .title-gira {
    font-size: 2rem; }
  .text_album {
    width: 600px;
    text-align: center;
    padding-top: 40px; }
  .text_album p {
    margin-left: 10px !important;
    margin-right: 10 !important; }
  .title__videos {
    padding-top: 30px; }
  .video1 {
    padding: 0;
    margin: 10px; }
  .video2 {
    padding: 0;
    margin: 10px; }
  .imagen__album {
    width: 320px;
    height: 300px;
    padding: 5px; }
  .iframe_spotify {
    padding: 5px; }
  .image__album {
    padding: 0px; }
  /* Musica/Videos */
  /* contacto */
  .form_contacto {
    width: 320px;
    padding-top: 50px; }
  /* contacto */
  .fernando {
    grid-column: 1; } }
