/* <------Contacto------> */
form {
    width: 585px;
    margin: auto;
    padding: 10px 20px;

    h2 {
        color: white;
        text-align: center;
        margin: 0;
        font-size: 25px;
        padding-bottom: 25px;
    }
    p {
        padding-bottom: 5px;
        font-size: 20px;
        color: white;
        font-weight: 500%;
    }

    .checkbox_news {
        display: inline-flex;
    }
    .checkbox_news small {
        padding-left: 10px;
        font-size: 15px;
        color: white;
    }
}

.form__1 input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-shadow: black 0 2 15 1;
}
textarea {
    resize: none;
    background-color: ($color-principal) ;
    width: 100%;
    height: 200px;
    color: white;
}

.form__1 input {
    background-color: ($color-principal) ;
    color: white;
    padding: 15px;
}
/* <------Contacto------> */