/* <-------Content Gira ---------> */
.linebar-gira {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.title-mid {
    font-size: 40px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding-top: 80px;
}

.title-gira {
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
}

.logo-gira {
    display: flex;
    justify-content: center;
    height: 180px;
    padding-top: 30px;
}

/* <-------bars-------> */
.bars {
    width: 900px;
    height: 400px;
    margin: auto;
    border-top: white 1px solid;
    overflow-y: scroll;
}
.bars::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid #2b2b2b;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background:rgba(177, 177, 177, 0.103);
    border-radius: 10px;
}

.bars div {
    border-bottom: rgba(252, 248, 248, 0.514) 1px solid;
    padding: 20px;
    color: white;
    transition: background-color 0.4s ease-in-out 0s;
}
.bars div:hover {
    background-color: ($color-principal) ;
}
/* <-------bars-------> */

span {
    font-size: 24px;
}

/* <-------buttons-------> */
.buttons {
    width: 900px;
    margin: auto;
    padding-bottom: 10px;
}
.buttons button{
    cursor: pointer;
    padding: 10px;
    background-color: ($color-principal);
    color: white;
    font-size: 15px;
    font-weight: 500!important;
}
.bars button {
    margin-left: 260px;
    padding: 10px 50px;
    color: rgb(235, 231, 231);
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    border: white 1px solid;
    font-family: 'Roboto Slab', serif;
    &:hover {
        background-color: white;
        color: black;
    }
}

.lugar {
    margin-left: 260px;
}
/* <-------buttons-------> */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    max-width: 55rem;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    grid-auto-flow: dense;
}
.wide {
    grid-column: span 2;
}
.tall {
    grid-row: span 2;
}
.grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
}
.grid_item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
/* <-------Content Gira ---------> */