/* <-----main content index-----> */
.title__banda {
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Amaranth', sans-serif;
}

.title__banda h1 {
    font-size: 300%;
    margin: 0;
}

.title__banda h2 {
    font-size: 45px;
    margin-right: 16px;
}

.title-mid {
    font-size: 40px;
    color: white;
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    padding-top: 80px;
}

.box__1 {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
    
    .article__margen1 {
        position: relative;
        margin: 20px 50px;
        width: 430px;
        height: 510px;
        background-image: url(../assets/images/Foto6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    .article__margen2 {
        position: relative;
        margin: 20px 50px;
        width: 430px;
        height: 510px;
        background-image: url(../assets/images/Foto3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    .article__margen3 {
        position: relative;
        margin: 20px 50px;
        width: 430px;
        height: 510px;
        background-image: url(../assets/images/Foto5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    
    .article__margen4 {
        position: relative;
        margin: 20px 50px;
        width: 430px;
        height: 510px;
        background-image: url(../assets/images/Foto2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
}

.color {
    width: 430px;
    height: 510px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    a {
        font-size: 25px;
        font-weight: 600;
        position: absolute;
        top: 87%;
        left: 25px;
        color: white;
        transform: scale(1.04);
        transition: color 0.4s ease-in-out 0s;

        &:hover {
            color: $color-hover1;
        }
    }
}
/* <------main content index-----> */