* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-style: none;
    list-style: none;
}

body {
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
//font
@font-face {
    font-family: 'Wire-AndPlanks';
    src: url(/assets/fonts/Wire-AndPlanks.ttf);
}
//font

.logo {
    display: flex;
    justify-content: center;
    height: 200px;
}

.separador {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.separador__largo {
    background-image: url(/assets/images/separador.png);
    background-position: center;
    background-repeat: no-repeat;
}
.separadormain {
    background-image: url(/assets/images/Logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px;
    display: flex;
    justify-content: center;
    padding: 90px;
}

//extends
.container {
    position: relative;
    margin: 20px 50px;
    width: 430px;
    height: 510px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

//mixins 
@mixin templateflex($valuejustify, $flexwrap) {    
    display: flex;
    justify-content: $valuejustify;

    @if ($flexwrap == true) {
        flex-wrap: wrap;
    }
}


